.text-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;

    max-width: 320px;
    width: 225px;
    height: 45px;


    border-radius: 25px;

    text-align: center;
    text-transform: uppercase;

    cursor: pointer;
}

.main-text-button{
    border: 1px solid #80A1FD;
    background-color: #80A1FD;
    color: #FFFFFF;
}

.main-text-button:hover{
    background-color: rgba(128, 161, 253, .8);
    border: none;
}

.main-text-button.disabled{
    background-color: #F5F6FA;
    border: 1px solid #F5F6FA;
}
